$bg: yellow;
body {
  background: $bg;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.large-hero {
  background: $bg;
  background-image: url("../images/testimonials-bg.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
}
