.wrapper {
  overflow: hidden;
  //background-color: green;

  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px; // add back from padding left right
  margin-left: auto;
  margin-right: auto;

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--medium {
    max-width: 976px;
  }

  &--narrow {
    max-width: 470px;
  }

  &--b-margin {
    margin-bottom: 1rem;
    @include phone {
      margin-bottom: 3.875rem;
    }
  }

  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;
    @include desktop {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;
    @include desktop {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}
/*



  
}
*/
