body {
  background: green;
  color: green;
  span {
    color: red;
    font-size: 130px;
  }
}

.hi {
  font-size: 150px;
  color: white;
}

.hello {
  height: 100px;
  color: yellow;
  background: url("./diana.jpg");
}
